
   .cov-nav {
        position: fixed;
        height: 6rem;
        width: 100%;
        background-color: #252e39;
        top: 0;
        left: 0;
        z-index: 2;
        font-size: 1.5rem;
        color: #fff;
    }
    .nav-tab {
        display: inline-block;
        height: 6rem;
        line-height: 6rem;
        text-align: center;
        min-width: 8rem;
        cursor: pointer;
    }
    .nav-moving {
        position: absolute;
        background-color: #4CFFFE;
        height: 8px;
        width: 1rem;
        border-radius: 4px;
        transition-property: transform, width;
        transition-duration: .3s;
        transition-timing-function: ease-out;
        margin-top: -1px;
    }
    .nav-rail {
        position: absolute;
        height: 4px;
        width: 100%;
        bottom: 1rem;
        background-color: #182128;
    }
